* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Righteous', cursive;
}

header{
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

}

header div{
    background-color: green;
    /* width: calc(100% - 40px); */
    height: auto;
    color:  #FFFFFF;
}

header h1{
    font-size: 44px;
    letter-spacing: -0.012em;
    font-weight: 400;
    line-height: 54px;
}

header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}




