* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Righteous', cursive;
}

.modal{
    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
    padding: 20px;
}

.modal-confirm{
    width: 100%;
    max-width: 450px;

    background-color: #50D074;
    color: #FFFFFF;

    font-size: 22px;
    padding: 20px;
    /* padding-bottom: 10px; */
    border-radius: 9px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
}

.modal-confirm h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.items div, .total-order{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-order{
    font-weight: bold;
    text-transform: uppercase;
}

.modal-confirm button{
    width: 100%;
    height: 52px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

.modal-confirm .button-confirm{
    
    border-radius: 100px;
    background-color: #FFFFFF;
    color: #50D074;
    font-size: 22px;
}

.modal-confirm .button-cancel{
    width: 100%;
    color: #FFFFFF;
    line-height: 23px;
    font-size: 20px;
    background-color: transparent;

}

.hidden{
    display: none;
}

header{
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

}

header div{
    height: auto;
    color:  #FFFFFF;
}

header h1{
    font-size: 44px;
    letter-spacing: -0.012em;
    font-weight: 400;
    line-height: 54px;
}

header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

main{
    background-color: #E5E5E5;
    margin: 92px auto;
    padding: 20px 0 20px 20px;
}

section{
    padding-top: 10px;
}

section .title{
    font-size: 26px;
    letter-spacing: -0.018em;
}

section .options{
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;

    width: 100%;
    padding: 17px 0;

    display: flex;
}

.options::-webkit-scrollbar{
    display: none;
}

section img{
    width: 144px;
    height: 87px;

    object-fit: cover;
    border-radius: 4px;
}

.option{
    background-color: #FFFFFF;
    width: 172px;
    height: auto;

    padding: 18px 13px;
    margin-right: 16px;

    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.option div:nth-child(2){
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin: 8px 0 8px;
}

.option div:nth-child(3){
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-bottom: 12px;
}

.option div:nth-child(4){
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.option .check{
    opacity: 0;
    color: #32B72F;
    font-size: 20px; 
}

main .container section .options .option.select{
    border: 5px solid #32B72F;
    padding: 13px 9px;
}

main .container section .options .option.select .check{
    opacity: 1;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 92px;

    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    width: 100%;
    height: 100%;
    background-color: #CBCBCB;
    border: none;
    text-decoration: none;
    border-radius: 50px;

    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.018em;
    /* padding: 0 70px; */

    display: flex;
    align-items: center;
    justify-content: center;
}


.active{
    background-color: #32B72F;
    font-weight: 700;
}



